<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>{{#if title}}{{title}}{{/if}} - Vote To Eat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link type="text/css" href="css/lib/angular-growl-0.7.3.min.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet">

    <!--Loading only angular here but all other js at the bottom.  Mainly so ng-cloak works correctly-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js"></script>
    <script src="js/lib/angular-growl-0.7.3.min.js"></script>

</head>

<!--<body ng-controller="vteController" role="document">-->
<body role="document">
<div class="container">
    <div class="clearfix">
        <nav >
            <ul class="nav nav-pills pull-right">
                <!--<li role="presentation"><a href="./index.html" ng-click="logout()">Logout</a></li>-->
                {{#if firstName}}
                    <strong>Hi, {{firstName}}!</strong>
                    <li role="presentation"><a href="./index.html" ng-click="logout()">Logout</a></li>
                {{/if}}
                <!--<li role="presentation"><a href="#">About</a></li>-->
                <!--<li role="presentation"><a href="#">Contact</a></li>-->
            </ul>
        </nav>
        <h3 class="text-muted">Vote To Eat</h3>
        <hr/>
    </div>
    <!--<button class="btn btn-link" data-toggle="modal" data-target="#suggestionsModal" ng-click="setSuggestionsGroup('yelp')">Yelp Suggestions</button>-->
    <!--<button class="btn btn-link" data-toggle="modal" data-target="#suggestionsModal" ng-click="setSuggestionsGroup('google')">Google Suggestions</button>-->
    <div id="map"></div>
    {{{body}}}
    <div>
        <hr>
        <footer>
            <p>&copy; Vote To Eat 2015</p>
        </footer>
    </div>
</div> <!--Container-->

<!-- JavaScript Files================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script type='text/javascript' src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<script type="text/javascript" src='js/vte_util.js'></script>
<script type="text/javascript" src='js/directives.js'></script>
<script type="text/javascript" src='js/services.js'></script>
<script type="text/javascript" src='js/controllers.js'></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44755430-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>