<div id="main_app" class="container">
    <div class="row">
        <h1 class="pull-left">Hello {{userName}}.</h1>
    </div>
    <div class="row">
        <h4 class="lead">Add some places you'd like to eat.  Give each place a score based on how much you'd like to eat there.  The highest score wins!</h4>
    </div>
</div>