.timeStamp {
    color:silver;
}
.systemMsg {
    color:blue;
}
.userMsg {
    color:black;
}

.chat_head {
    background: #f5f3f3 none repeat scroll 0 0;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 10px;
    border: 1px solid #dddddd;
}

.top_nav {
    overflow: visible;
}
.member_list ul {
    border: 1px solid #dddddd;
}
.member_list li {
    border-bottom: 1px solid #dddddd;
    padding: 6px;
}
.member_list li:last-child {
    border-bottom:none;
}
.member_list {
    overflow-x: hidden;
    overflow-y: auto;
}
.sub_menu_ {
    background: #e8e6e7 none repeat scroll 0 0;
    left: 100%;
    max-width: 233px;
    position: absolute;
    width: 100%;
}
.message_section {
    border: 1px solid #dddddd;
}
.chat_area {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat_area li {
    padding: 4px 4px 0;
    margin-left: 10px;
}
.chat_area li p {
    margin-bottom: 2px;
}
.chat_area li:last-child {
    padding-bottom: 10px;
}
.message_write {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}

.message_write textarea.form-control {
    height: 70px;
    padding: 10px;
}
.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}