input[type="text"]{margin-bottom: 0px}

/*#messages{margin-top: 20px}*/

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

#yelpBusinesses {
    /*height:300px;*/
    /*overflow: auto*/

    max-height: calc(100vh - 210px);
    overflow-y: auto;
}