input[type="text"]{margin-bottom: 0px}

/*#messages{margin-top: 20px}*/

body {
    padding-bottom: 30px;
}

.businessesList {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.display-inline {
    display: inline;
}
.indent-5 {
    margin-left: 5px;
}

.googleLogo {
    width: 55px;
    height: 19px;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}