<div id="map"></div>

<!--<div class="row">-->
    <!--<h1 class="pull-left">Hello {{vm.userName}}!</h1>-->
<!--</div>-->

<div class="container" role="main">
    <div class="jumbotron">
        <div class="container">

        <h1>Vote To Eat!</h1>
        <p>Tired of arguing about where to eat?  This site is for you.</p>
        <p>Create a group to get started.</p>
        <div class="btn-block">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createGroupModal">Create Group &raquo;</button>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#joinGroupModal">Join Group &raquo;</button>
        </div>
        </div>
    </div>
</div>


<!--MODALS-->
<div id="createGroupModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Group</h4>
            </div>
            <div class="modal-body">
                <form name="createGroupForm" class="form-group" data-toggle="validator">
                    <label for="createGroupName">Group Name</label>
                    <div growl inline="true" reference="groupCreateMessages"></div>
                    <input id="createGroupName" type="text" class="form-control"  placeholder="Group Name" ng-model="hc.groupName" required>
                    <div class="help-block with-errors"></div>
                    <button id="createGroupSubmitBtn" type="submit" class="btn btn-primary" ng-click="hc.createGroup()" ng-disabled="createGroupForm.$invalid">Create Group</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="joinGroupModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Join Group</h4>
            </div>
            <div class="modal-body">
                <form name="joinGroupForm" class="form-group" data-toggle="validator">
                    <label for="joinGroupName">Group Name</label>
                    <div growl inline="true" reference="groupJoinMessages"></div>
                    <input id="joinGroupName" type="text" class="form-control" placeholder="Group Name" ng-model="hc.groupName" required>
                    <div class="help-block with-errors"></div>
                    <button type="submit" class="btn btn-primary" ng-click="hc.checkGroup()" ng-disabled="joinGroupForm.$invalid">Join Group</button>
                </form>
            </div>
        </div>
    </div>
</div>