<div growl reference="generalMessages"></div>
<div class="row">
    <h1 class="pull-left">Hello {{userName}}</h1>
</div>
<div id="createGroupBox" ng-hide="showMainApp">
    <div class="row">
        <h4 class="lead">Create a group or join a group so you add places and figure out where to eat.</h4>
    </div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#groupModal" ng-click="joinOrCreateBtn = 'create'">Create Group &raquo;</button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#groupModal" ng-click="joinOrCreateBtn = 'join'">Join Group &raquo;</button>
</div>
<div id="main_app" class="container" ng-cloak ng-show="showMainApp">
    <div class="row">
        <h4 class="lead">Add some places you'd like to eat.  Give each place a score based on how much you'd like to eat there.  The highest score wins!</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Places</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label for="input_add_place_name">Add New Place</label>
                    <input type="text" class="form-control" id="input_add_place_name" placeholder="Place Name" ng-model="placeName">
                </div>
                <button type="submit" title="Add Place" class="btn btn-primary" data-dismiss="modal" ng-click="addPlace()">Add</button>
                <button class="btn btn-link" data-toggle="modal" data-target="#suggestionsModal" ng-click="setSuggestionsGroup('yelp')">Yelp Suggestions</button>
                <button class="btn btn-link" data-toggle="modal" data-target="#suggestionsModal" ng-click="setSuggestionsGroup('google')">Google Suggestions</button>
            </form>
            <div class="col-md-12" ng-class="{true: 'well'}[places.length > 0]">
                <div class="row" ng-repeat="place in places">
                    <div class="row">
                        <div class="col-md-4">
                            <a target="_blank" ng-href="http://google.com/maps?q={{place.name}}">
                                <h4 class="display-inline" ng-bind="place.name"></h4>
                            </a>
                            <span ng-show="place.fromType == 'google'">
                                <a target="_blank"  ng-href="http://google.com/local?q={{place.name}},{{place.address}}">
                                    <img src="images/img_trans.gif" class="googleLogoSmall" alt="google">
                                    <rating ng-model="place.rating" readonly="true"></rating>
                                </a>
                            </span>
                            <span ng-show="place.fromType == 'yelp'">
                                <a target="_blank" ng-href="{{place.url}}">
                                    <img src="images/img_trans.gif" class="yelpLogoSmall" alt="yelp">
                                    <img ng-src="{{place.rating_img_url}}">
                                </a>
                                <a class="link hand" target="_blank" title="{{place.deal.what_you_get}}" ng-show="place.deal!=null" ng-href="{{place.deal.url}}">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true" ></span>
                                </a>
                            </span>
                            <a title="{{place.address}}" target="_blank" ng-href="http://google.com/maps?q={{place.name}},{{place.address}}">
                                <div class="indent-5"><small ng-bind="place.address"></small></div>
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group">
                                <button class="btn btn-default" ng-class="{'active':place.voteBtnActive == $index }" ng-click="voteForPlace(place,$index)" ng-repeat="i in getNumber(vote_max) track by $index" >
                                    {{$index}}
                                </button>
                            </div>
                                <span>
                                    <span ng-bind="place.totalVotes"></span><span>&nbsp total</span>
                                    <span ng-show="place.winning" title="Winning!" class="winning glyphicon glyphicon-ok" aria-hidden="true" ></span>
                                </span>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Members of {{groupName}}</h2>
            <div class="col-md-12 well">
                <div class="row" ng-repeat="user in users">
                    <div class="col-md-3">
                        <span ng-bind="user.name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" growl inline="true"></div>
    </div>
</div>


<!--MODALS-->
<div id="groupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createGroupLabel">Group</h4>
            </div>
            <div class="modal-body">
                <form ng-show="!showSetUserName" class="form-inline">
                    <div class="form-group">
                        <label for="inputGroupName">Group Name</label>
                        <input type="text" class="form-control" id="inputGroupName" placeholder="Group Name" ng-model="groupName">
                    </div>
                    <button ng-show="joinOrCreateBtn == 'create'" type="submit" data-dismiss="modal" class="btn btn-primary" ng-click="createGroup()">Create Group</button>
                    <button ng-show="joinOrCreateBtn == 'join'" type="submit" data-dismiss="modal" class="btn btn-primary" ng-click="joinGroup()">Join Group</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="suggestionsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="suggestionsModal" aria-hidden="true">
    <div growl reference="suggestionsMessages"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="suggestionTitle"></h4>
            </div>
            <div class="businessesList modal-body">
                <form class="form-inline">
                    <div ng-class="form-group">
                        <!--Show input box and location icon for yelp.  Needs to be ng-show because ng-if destroys scope on the ng-models-->
                        <div ng-show="currentSuggestionGroup == 'yelp'" >
                            <label for="yelp_city">Enter City</label>
                            <input type="text" class="form-control" id="yelp_city" placeholder="City" ng-model="location">
                            <button class="btn btn-primary" title="Enter a City" ng-click="getYelpData('city', yelpSortType);" ng-disabled="location.length==0">Yelp By City</button>
                            <button class="btn btn-primary" title="Get Current Location" ng-click="getYelpData('cll', yelpSortType)">
                                <span class="glyphicon glyphicon-map-marker hand"  aria-hidden="true" ></span>
                            </button>
                            <br/><br/>
                            <label>Sort Again By:</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-class="{active:yelpSortType === 0}" ng-click="updateYelpSortData(0)">Best Match</button>
                                <button type="button" class="btn btn-default" title="Yelp will only allow up to 40 businesses when searching by location.  Search by 'best' match for more than 40"
                                        ng-class="{active:yelpSortType === 1}" ng-click="updateYelpSortData(1)">Location</button>
                                <button type="button" class="btn btn-default" title="The rating sort is not strictly sorted by the rating value, but by an adjusted rating value that takes into account the number of ratings, similar to a bayesian average. This is so a business with 1 rating of 5 stars doesn’t immediately jump to the top."
                                        ng-class="{active:yelpSortType === 2}" ng-click="updateYelpSortData(2)">Rating</button>
                            </div>
                            <button class="btn btn-default" ng-class="{active:dealsOnly === true}" ng-click="updateYelpSortDataWithDeals()">Deals Only</button>
                        </div>
                        <div ng-show="currentSuggestionGroup == 'google'">
                            <label>Sort Again By:</label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-class="{active:googleSortType === 0}" ng-click="updateGoogleSortData(0)">Best Match</button>
                                <button type="button" class="btn btn-default" ng-class="{active:googleSortType === 1}" ng-click="updateGoogleSortData(1)">Location</button>
                            </div>
                        </div>
                        <div ng-repeat="business in businessData">
                            <div ng-show="currentSuggestionGroup == 'yelp'">
                                <button class="btn btn-link" title="Add Place" ng-click="addBusiness(business,'yelp')">{{business.name}}</button>
                                <a target="_blank" ng-href="{{business.url}}">
                                    <img title="Open in Yelp" ng-src="{{business.rating_img_url}}">
                                </a>
                                <a target="_blank" ng-href="{{business.url}}">
                                    <img src="images/img_trans.gif" ng-class="currentSuggestionGroup == 'yelp' ? 'yelpLogoSmall' : 'googleLogoSmall'" />
                                </a>
                                <a class="hand" target="_blank" title="{{business.deals[0].what_you_get}}" ng-show="business.deals.length > 0" ng-href="{{business.deals[0].url}}">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true" ></span>
                                </a>
                                <a target="_blank" ng-href="http://google.com/maps?q={{business.name}},{{business.location.display_address}}">
                                    <small ng-repeat="address in business.location.display_address">{{address}} </small>
                                </a>
                            </div>
                            <div ng-show="currentSuggestionGroup == 'google'">
                                <button class="btn btn-link" title="Add Place" ng-click="addBusiness(business,'google')">{{business.name}}</button>
                                <a target="_blank" ng-href="http://google.com/local?q={{business.name}},{{business.vicinity}}">
                                    <img src="images/img_trans.gif" class="googleLogoSmall" title="Open in Google" alt="google">
                                </a>
                                <a target="_blank" ng-href="http://google.com/local?q={{business.name}},{{business.vicinity}}">
                                    <rating ng-model="business.rating" readonly="true"></rating>
                                </a>
                                <a target="_blank" ng-href="http://google.com/maps?q={{business.name}},{{business.vicinity}}">
                                    <small ng-bind="business.vicinity"></small>
                                </a>
                            </div>
                        </div>
                        <div>
                            <span ng-show="showLoading === true">Loading . . .</span>
                        </div>
                        <button class="btn btn-primary pull-right" ng-show="businessData.length > 0 && currentSuggestionGroup == 'yelp'" ng-disabled="yelpNextDisabled" ng-click="getMoreYelpData()">Next 20</button>
                        <button id="nextBtn" class="btn btn-primary pull-right" ng-show="businessData.length > 0 && currentSuggestionGroup == 'google'">Next Page</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Done</button>
                <img src="images/img_trans.gif" class="pull-left" ng-class="currentSuggestionGroup == 'yelp' ? 'yelpPoweredBy' : 'googlePoweredBy'" />
            </div>
        </div>
    </div>
</div>